@page "/"

<div class="topbar">
    <NavMenu />
</div>



<body>
    <div class="main">



        <h1>Bacheloroppgave 2021</h1>



        gruppe 37
        <br>
        OSS
        <br>



        <div class="teamet">
            <div class="ramme">
                <div class="kortet">
                    <img src="/pictures/IMG_4725_1 (1).jpg" style="width:100%" />
                    <h2>Jørgen</h2>
                </div>
            </div>



            <div class="ramme">
                <div class="kortet">
                    <img src="/pictures/IMG_4725_1 (1).jpg" style="width:100%" />
                    <h2>Abdi</h2>
                </div>
            </div>



            <div class="ramme">
                <div class="kortet">
                    <img src="/pictures/IMG_4725_1 (1).jpg" style="width:100%" />
                    <h2>Mats</h2>
                </div>
            </div>



            <div class="ramme">
                <div class="kortet">
                    <img src="/pictures/IMG_4725_1 (1).jpg" style="width:100%" />
                    <h2>Felix</h2>
                </div>
            </div>



            <div class="ramme">
                <div class="kortet">
                    <img src="/pictures/IMG_4725_1 (1).jpg" style="width:100%" />
                    <h2>Jon</h2>
                </div>
            </div>



        </div>



        <div class="dokumenter">
            <div class="doku">
                <a href="https://www.cs.hioa.no/data/bachelorprosjekt/reg/reports/2021_gr33_Statusrapport%20bachelor%20gruppe%2033%20(1).pdf" target="_blank"> <img src="/pictures/document-icon.png" style="width:100%" /></a>
            </div>
            <div class="doku">
                <a href="https://www.cs.hioa.no/data/bachelorprosjekt/reg/scetches/2021_gr33_Prosjektskisse%20grupppe%2033.pdf" target="_blank"> <img src="/pictures/document-icon.png" style="width:100%" /></a>
            </div>
        </div>




    </div>
</body>